NODE_ENV=development
PORT=3000
MONGO_URI=yourdatabase
JWT_SECRET=yoursecret
CLOUD_NAME=yourcloudename
CLOUD_API_KEY=cloudekey
CLOUD_API_SECRET=claoudesecret
EMAIL_USER=youremail
BREVO_USER=yourbrevoid
BREVO_PASS=brevokey